<div class="fw-700">ACCOUNT SETTING</div>
<div class="bg-white ht-100 mtb-30 flex-btw p-20">
    <div class="w-80">
        <div>

            <!-- <form class="flex"> -->
            <div class="flex-btw">
                <form>
                    <label class="font-16">First Name</label>
                    <br><br>
                    <input class="w-400 border-0 p-10" type="name" placeholder="Micheal">
                    <br>
                    <hr>
                    <br>
                    <label class="font-16">Email</label>
                    <br><br>
                    <input class="w-400 p-10 border-0" type="email" placeholder="contactmichaeleze@gmail.com">
                    <hr>
                </form>
                <form>
                    <label class="font-16">Last Name</label>
                    <br><br>
                    <input class='w-400 p-10 border-0' type="name" placeholder="Eze">
                    <hr>
                    <br>
                    <label class="font-16">Phone Number</label>
                    <br><br>
                    <input class="w-400 p-10 border-0" type="number" placeholder="0810179957">
                    <hr>
                </form>
            </div>
            <div><button class="bg-lt-blue color-white border-0 round-25 mtb-20 p-10 font-16 fw-700 w-70">Save Changes</button></div>
        </div>
        <div class="flex-btw-center gap-10 mtb-20">
            <div class="bg-lite flex p-10 round-10 gap-10">
                <div class="w-50">
                    <div class="font-20 fw-700 color-lt-blue">Change Password</div>
                    <p class="font-18">You can change or reset your
                        password here</p>
                </div>
                <div class=""><button class='bg-lt-blue font-16 color-white round-10 p-10 border-0'>Change
                        Password</button>
                </div>
            </div>
            <div class="bg-lite flex p-10 round-10">
                <div class="w-70">
                    <div class="font-20 fw-700 color-lt-blue">Log out</div>
                    <p class="font-18">You can change or reset your
                        password here</p>
                </div>
                <div>
                    <button class="bg-red font-16 color-white p-5 border-0">Log Out</button>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div><img src="./assets/img1.svg"></div>
        <a>Change Profile</a>
    </div>
</div>