.clr-blue{
    background: rgba(35, 48, 100, 1);
}

.clr-lt-green{
    background: rgba(57, 183, 233, 1);
}


.font-16{
    font-size: 16px;
    font-weight: 500;
    // line-height: 23px;
  }
  
  .font-40{
    font-size: 40px;
  }

  .slider-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .card{
    min-width: 30%;
    padding: 20px;
    border-radius: 10px;
    color:#fff;
  }

[nz-row] {
  gap: 20px;
  justify-content: space-between;
}

  [nz-col] {
    background-color: rgba(128, 128, 128, 0.08);
    // border:1px solid red;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
  }