<div class="font-16">OVERVIEW</div>
<div class="slider-container">
    <div class="clr-blue card">
        <p class="font-16">Wallet Balance</p>
        <p class="font-48">#0.00</p>
        <button>Find Wallet</button>
    </div>
    <div class="clr-lt-green card">
        <p class="font-16">Wallet Balance</p>
        <p>#0.00</p>
        <button>Find Wallet</button>
    </div>
    <div class="clr-blue card">
        <p class="font-16">Wallet Balance</p>
        <p>#0.00</p>
        <button>Find Wallet</button>
    </div>
    <div>
        
    </div>
    <!-- <span>Horizontal Gutter (px):</span> -->
    <!-- <div class="slider">
       <nz-slider [nzMarks]="marksHGutter" [nzStep]="null" [nzMin]="8" [nzMax]="48" [(ngModel)]="hGutter"></nz-slider> -->
    <!-- </div> -->
</div>
