<div class="p-10 w-40 m-30">
        <div class="mtb-20">
            <div class="color-lt-blue font-20 fw-700">Reset Account</div>
            <div class="color-white font-16">Enter your email to reset your account.</div>
        </div>
    <section class="mtb-30">
        <div>
            <form [formGroup]="resetForm" class="">
                <div class="flex-center round-25 bg-white p-10 mtb-10 gap-10 pl-20">
                    <img src="assets/icons/acct-lt.svg" alt="">
                    <input formControlName="email" class="border-0 w-400" type="email" id="emailAddress" name="email"
                        placeholder="Email Address">
                </div>
            </form>
        </div>
        <section class="">
            <div class="flex-btw-center mtb-30">
                <div class="font-14 fw-400 color-white">Remember your password?<span routerLink="/auth/login" class="color-lt-blue pl-20">Login</span></div>
            </div>
            <div class="mtb-30">
                <button [disabled]="" type="submit"
                    class="bg-lt-blue color-white round-25 p-10 font-18 fw-500 w-100 border-0">Reset Account
                </button>
            </div>
        </section>
    </section>