<div class="m-20">
    <div class="txt-alg">
        <h3 class="color-lt-blue font-20">What would you like to do now?</h3>
        <p class="color-white">Let's help you get it done Quicker!</p>
    </div>

    <div class="flex-btw-center gap-20 mtb-30 p-20">
        <div class="card">
            <div class="bg-orange ht-10 round-10"></div>
            <div class="p-10">
                <div class="mtb-20">
                    <img src="./assets/icons/helppo buy icon.svg">
                    <div class="fw-700">Helppo Buy Now, Pay Later</div>
                </div>
                <p>Helppo buy provides buyers with the best shopping deals, 
                    seamless payment options and a focus on outstanding quality</p>
                <div><img src="./assets/icons/arrow1.svg"></div>
            </div>
        </div>
        <div class="card">
            <div class="bg-lt-blue ht-10 round-10"></div>
            <div class="p-10">
                <div class="mtb-20">
                    <img src="./assets/icons/helppo buy icon.svg">
                    <div class="fw-700">Helppo Buy</div>
                </div>
                <p>Helppo buy provides buyers with the best shopping deals, 
                    seamless payment options and a focus on outstanding quality</p>
                <div><img src="./assets/icons/arrow2.svg"></div>
            </div>
        </div>
        <div class="card">
            <div class="bg-orange ht-10 round-10"></div>
            <div class="p-10">
                <div class="mtb-20">
                    <img src="./assets/icons/Helppo fix.svg">
                    <div class="fw-700">Helppo Fix</div>
                </div>
                <p>Helppo buy provides buyers with the best shopping deals, 
                    seamless payment options and a focus on outstanding quality</p>
                <div><img src="./assets/icons/arrow1.svg"></div>
            </div>
        </div>
        <div class="card">
            <div class="bg-lt-blue ht-10 round-10"></div>
            <div class="p-10">
                <div class="mtb-20">
                    <img src="./assets/icons/helppo insure.svg">
                    <div class="fw-700">Helppo Insure</div>
                </div>
                <p>Helppo buy provides buyers with the best shopping deals, 
                    seamless payment options and a focus on outstanding quality</p>
                <div><img src="./assets/icons/arrow2.svg"></div>
            </div>
        </div>
    </div>
    
    <div class="w-40 m-30">
        <button class="w-100 border-0 round-25 font-18 p-10 bg-lt-blue color-white" (click)="dashboard()">Go to dashboard</button>
    </div>
</div>