<div class="font-20 fw-700">Transaction</div>
<div class="slider-container">
    <div class="bg-blue card">
        <div class="font-20 fw-700">Wallet Balance</div>
        <div class="font-40 fw-700">₦0.00</div>
        <button class='bg-orange font-16 btn-wallet border-0'>Find Wallet</button>
    </div>
    <div class="bg-lt-blue card">
        <div class="font-20 fw-700">Outstanding Payment</div>
        <div class="font-40 fw-700">₦0.00</div>
        <div class="font-16">Amount you’re owing</div>
    </div>
    <div class="bg-blue card">
        <div class="font-20 fw-700">Expected Payment</div>
        <div class="font-40 fw-700">₦0.00</div>
        <div class="font-16">Payments that’ll be made at a later date</div>
    </div>
</div>